*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: currentColor;
    
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    padding: 0;
    margin-left:20px;
    position: relative;
}
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background: #008ed6;
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background: #008ed6;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 42%;
    transition: .3s;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 42%;
    transition: .3s;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    font-weight: 400;
    color: #008ed6;
}
.part_1{
    position: relative;
    margin-bottom: 80px;
}
.part_1 h4{
    color: #008ed6;
    font-weight: bold;
    font-size: 16px;
}
.part_1 h2{
    font-weight: 500;
    font-size: 38px;
    padding-bottom: 25px;
}
.part_1 h2::before{
    content: '';
    position: absolute;
    left: 47%;
    bottom: -5px;
    height: 3px;
    width: 0px;
    background: #008ed6;
}
.part_1 h2::after{
    content: '';
    position: absolute;
    right: 47%;
    bottom: -5px;
    height: 3px;
    width: 0px;
    background: #008ed6;
}
.row {
    margin-bottom: 30px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
  }
  

  .card {
      box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
      margin: 0 45px;
      border: 3px solid #00CCE1;
  }
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    border: 3px solid #F69165;
}

 
.card:hover h2{
    color: #F69165;

}
.card:hover a{
    background-color: #F69165;

}
 .card img{
   width: 100px;
   min-height: 100px;
   border-radius: 50%;
   margin: 0px 10px;
 } 
 .class_1{
   margin: 20px 0px;
   display: flex;
 }
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .card a{
    text-decoration: none;
  }
  .card a:hover{
    color: black;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  footer{
    background-color: black;
    padding-top: 25px;
    padding-bottom: 2px;
}

.logos{
  width: 18%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-top: 20px;
}
  footer i{
    color: #504f55;
    font-size: 20px;
}
footer i:hover{
    color: #008ed6;
    cursor: pointer;
}
footer .row{
  margin-bottom: 0px;
}
.text-center {
  padding-bottom: 20px;
}
footer P{
    font-size: 14px;
    color: #504f55;
    font-weight: 500;
}