body {
    font-family: "Lato", sans-serif;
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 16px;
    padding: 0;
    margin-left:20px;
    position: relative;
}
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background: #008ed6;
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background: #008ed6;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 42%;
    transition: .3s;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 42%;
    transition: .3s;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    font-weight: 400;
    color: #008ed6;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 5%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text {
    margin-top: 33%;
    padding: 68px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
.btn-black:hover{
    color: rgb(221, 214, 214);
}